<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/output.css">
  <title>Famous Quotes</title>
  <script src="https://kit.fontawesome.com/79bad414e2.js" crossorigin="anonymous"></script>
</head>