<%- include('partials/header.ejs') %>
  <body class="flex">
    <%- include('partials/nav.ejs') %>
    <main class="w-full px-4 py-2 ">

    <h1 class="my-4 border-b-black/10 border-b-2">Add a New Author</h1>
    <section>
        <form method='POST' action='/author/new' class="flex flex-col">
            <label for="fName">First Name:</label>
            <input type='text' name='fName' />

            <label for="lName">Last Name:</label>
            <input type='text' name='lName' />

            <label for="birthDate">Date of Birth:</label>
            <input type='date' name='birthDate' />

            <label for="deathDate">Date of Death:</label>
            <input type='date' name='deathDate' />

            <div class="flex items-center gap-2">
                <label for="sex">Sex: </label>
                <input type="radio" name="sex" id="male" value="M">
                <label for="male">Male</label>
                <input type="radio" name="sex" id="female" value="F">
                <label for="female">Female</label>
            </div>

            <label for="profession">Profession: </label>
            <input type="text" name="profession" id="profession">

            <label for="country">Country: </label>
            <input type="text" name="country" id="country">

            <label for="portrait">Portrait URL: </label>
            <input type="text" name="portrait" id="portrait">
            
            <label for="biography">Biography: </label>
            <textarea type="text" name="biography" id="biography">
            </textarea>
            <button class="mt-2">Add Author</button>
        </form>
    </section>

    <% if (typeof message != "undefined"){ %>
  		   <h3><%=message%></h3>
    <% } %>
    </main>

  </body>
</html>